<h1>les vehicules disponibles </h1>

<br>
<%= link_to "Home page", root_path %>

<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">
        <% @vehicules.each do |vehicule| %>
          <div class="col-12 col-xl-3 d-flex flex-column">
            <%= link_to vehicule_path(vehicule), style: "text-decoration: none; color: inherit;" do %>
            <div class="card-product">
              <%= cl_image_tag vehicule.photo.key, class: "card_image", crop: :fill, height: 200, width: 200 %>
              <div class="model">
                <div class="top d-flex justify-content-between">
                  <h2 class="m-0"><%= vehicule.model%> </h2>
                  <%= image_tag "car.jpg", class: "icon" %>
                </div>

                <p><%= vehicule.category  %> <br>
                <%= vehicule.description %>
                <div class="price">
                <br><b><%= vehicule.prix%></b>$/jour</p>
                </div>
              </div>
            </div>
        <% end %>
          </div>
        <% end %>

      </div>
