<<<<<<< HEAD
<h2> Ajoutez votre véhicule à la location</h2>



=======
<h2>Ajoutez votre véhicule à la location</h2>

<%= simple_form_for(@vehicule) do |f| %>
  <%= f.input :category %>
  <%= f.input :model %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>


<%#
  t.string "category"
    t.string "model"
    t.string "description"
    t.float "prix" %>
>>>>>>> e8b0b3f73b2c67cad5d0695cffdb34ff4f7da3eb
