
<div class="container">
  <div class="my-3">
        <h2>Ajoutez votre véhicule à la location</h2>
  </div>
    <div class="vehicle_grid">
      <div class="vehicle_item1">
        <div class="form my-5">
          <%= simple_form_for(@vehicule) do |f| %>
          <%= f.input :category, label: 'Catégorie'%>
          <%= f.input :model, label: 'Modèle'%>
          <%= f.input :description, label: 'Décris nous ton bijou'%>
          <%= f.input :prix, label: 'Prix/jour' %>
          <%= f.input :photo, as: :file, label: 'Ajoute une photo de ton bolide' %>
          <%= f.submit class:"btn btn-warning btn-lg"%>
          <% end %>
        </div>
      </div>

        <div><%= cl_image_tag "ajout1", size: "280x290" %></div>
        <div> <%= cl_image_tag "ajout2", size: "280x290" %></div>
  </div>
</div>
