
<div class="container mt-5">
  <div class="row">
    <!-- Card Véhicule  -->
    <div class="card col-lg-8 col-xs-12">
      <!-- Titre annonce -->
      <div class="border text-center">
        <h2><%= @vehicule.model %></h2>
      </div>
      <!-- div images -->
      <div class="border">
        <div class="row d-flex">
          <div class="col-lg-10 col-xs-12">
            <%# <%= image_tag "homard.png", alt: "Grande image", class: "img-fluid" %>
            <%= cl_image_tag @vehicule.photo.key, height: 300, width: 400, crop: :fill %>
          </div>
        </div>
      </div>
      <!-- détail annonce -->
      <div class="border">
        <p class="text-center"><%= @vehicule.description %></p>
      </div>
    </div>
    <!-- Contenu du new booking -->
    <div class="card col-lg-4 col-xs-12 z-n1">
      <div class="text-center">
        <h3>Faites-vous plaisir</h3>
        <div class="booking" data-controller="toggle" >
          <div class="btn btn-primary" data-action="click->toggle#fire">réservation</div>
            <div data-toggle-target="togglableElement" class="d-none">
              <div class="border">
                <%= simple_form_for [@vehicule, @booking] do |f| %>
                  <%= f.input :date_debut,
                              as: :string,
                              input_html: { data: { controller: "datepicker" } }  %>
                  <%= f.input :date_fin,
                              as: :string,
                              input_html: { data: { controller: "datepicker" } }  %>
                  <%= f.input :commentaire %>
                  <%= f.submit "Réserver" %>
                <% end %>
              <div class="confirm_booking d-none">
                  <h3>Votre réservation est confirmée.</h3>
                  <p> Vous allez recevoir un mail de confirmation avec les modalités pour contacter le propriétaire</p>
              </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bas de page">
<br>
<%= link_to "Home page", root_path %>
