<div class="card-product">
  <div class = "container m-2">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="card_image" />
    <div class="card-product-infos">
      <div class="top">
        <h2 class="m-0"><%= model %> </h2>
        <%= image_tag "car.jpg", class: "icon" %>
      </div>
      <p><%= category %> <br> <%= description %> <br><b><%= prix%></b>$/jour</p>
    </div>
  </div>
</div>
