<div class="container">

<div class="meslocations">
    <div class="row">
      <h2>mes locations</h2>
      <% @bookings.each do |booking| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column">
          <div class="card-product">
            <%= image_tag booking.vehicule.photo.url class: "card_image", crop: :fill, height: 200, width: 200 %>
            <div class="model">
              <div class="top d-flex justify-content-between">
                <h2 class="m-0"><%= booking.vehicule.model%> </h2>
              </div>
              <div class="price">
                <p><strong>Total location : </strong><%= booking.total_prix%> $</p>
              </div>
              <p><strong>Date debut:</strong> <%= booking.date_debut %></p>
              <p><strong>Date du fin:</strong> <%= booking.date_fin %></p>
              <p><strong> status:</strong> <%= booking.status %></p>
              <p><strong>TO: </strong><%= booking.user.email %></p>
              <%= link_to "decline",
                  decline_bookings_path(booking),
                  data: {turbo_method: :patch, turbo_confirm: "Are you sure?"}
              %>
              <br>
            </div>
          </div>
        </div>
      <% end %>
    </div>

</div>

<div class="mesvehicules">
    <%# mes voitures %>
    <div class="row">
      <h2>Mes voitures à louer</h2>
      <% @bookings.each do |booking| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column">
          <div class="card-product">
            <%= image_tag booking.vehicule.photo.url class: "card_image", crop: :fill, height: 200, width: 200 %>
              <div class="model">

                <div class="top d-flex justify-content-between">
                  <h2 class="m-0"><%= booking.vehicule.model%> </h2>
                </div>
                <div class="category">
                  <p><%= booking.vehicule.category  %> <br>
                </div>
                <div class="description">
                  <%= booking.vehicule.description %>
                </div>
                <div class="price">
                  <%= booking.vehicule.prix%></b>$/jour</p>
                </div>

              </div>
          </div>
              <%= link_to "Delete",
                vehicule_path(booking.vehicule),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
        </div>
      <% end %>
    </div>
    <%# locations de mes voitures %>
    <div class="row">
      <h2>Les locations de mes véhicules</h2>
      <% @requested_bookings.each do |booking| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column">
          <div class="card-product">
            <%= image_tag booking.vehicule.photo.url class: "card_image", crop: :fill, height: 200, width: 200 %>
            <div class="model">
              <div class="top d-flex justify-content-between">
                <h2 class="m-0"><%= booking.vehicule.model%> </h2>
              </div>
              <div class="price">
                <p><%= booking.vehicule.prix%>$/jour</p>
              </div>
              <p><strong>Date debut:</strong> <%= booking.date_debut %>,</p>
              <p><strong>Date du fin:</strong> <%= booking.date_fin %>,</p>
              <p><strong> status:</strong> <%= booking.status %></p>
              <p><strong>TO: </strong><%= booking.user.email %></p>
              <% if booking.status == 'pending' %>
                <%= link_to "accept",
                  accept_bookings_path(booking),
                  data: {turbo_method: :patch, turbo_confirm: "Are you sure?"}
                %>
                <%= link_to "decline",
                    decline_bookings_path(booking),
                    data: {turbo_method: :patch, turbo_confirm: "Are you sure?"}
                %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
