  <div class="container">


<div class="meslocations">

    <h2>mes locations</h2>
      <div class="card-grid">

          <% @bookings.each do |booking| %>
            <div class="card-grid-item d-flex flex-column">
              <div class="card-product">
                <%= image_tag booking.vehicule.photo.url, crop: :fill, height: 200, width: 200,  class: "card_image"%>
                <div class="model">
                <div class="top d-flex justify-content-between">
                  <h2 class="m-0"><%= booking.vehicule.model%> </h2>
                </div>
                <div>
                  <p><strong>Total location : </strong><%= booking.total_prix%> $</p>
                  <p><strong>Date debut:</strong> <%= booking.date_debut %></p>
                  <p><strong>Date du fin:</strong> <%= booking.date_fin %></p>
                  <p><strong> status:</strong> <%= booking.status %></p>
                  <p><strong>TO: </strong><%= booking.user.email %>&nbsp;&nbsp;&nbsp;

                  <%= link_to "decline",
                      decline_bookings_path(booking),
                      data: {turbo_method: :patch, turbo_confirm: "Are you sure?"}
                  %>
                  </p>
                </div>
              </div>
              </div>
            </div>
          <% end %>

        </div>
    </div>




<div class="mesvehicules">
    <%# mes voitures %>
  <h2>Mes voitures à louer</h2>
  <div class="card-grid">

      <% @vehicules.each do |vehicule| %>
      <div class="card-grid-item d-flex flex-column">
        <div class="card-product">
          <%= image_tag vehicule.photo.url, crop: :fill, height: 200, width: 200,  class: "card_image"%>
          <div class="model">
            <div class="top d-flex justify-content-between">
              <h2 class="m-0"><%= vehicule.model%> </h2>
            </div>
            <div class="category">
              <p><%= vehicule.category  %> <br>
            </div>
            <div class="description">
              <%= vehicule.description %>
            </div>
            <div class="price">
              <%= vehicule.prix%></b>$/jour</p>
            </div>
          </div>
              <%= link_to "Delete",
                vehicule_path(vehicule),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>
        </div>
      </div>
      <% end %>

  </div>
</div>

    <%# locations de mes voitures %>

    <h2>Les locations de mes véhicules</h2>
    <div class="card-grid">

        <% @requested_bookings.each do |booking| %>
          <div class="card-grid-item d-flex flex-column">
            <div class="card-product">
              <%= image_tag booking.vehicule.photo.url, crop: :fill, height: 200, width: 200,  class: "card_image"%>
              <div class="model">
                <div class="top d-flex justify-content-between">
                  <h2 class="m-0"><%= booking.vehicule.model%> </h2>
                </div>
                <div class="price">
                  <p><%= booking.vehicule.prix%>$/jour</p>
                </div>
                <p><strong>Date debut:</strong> <%= booking.date_debut %>,</p>
                <p><strong>Date du fin:</strong> <%= booking.date_fin %>,</p>
                <p><strong> status:</strong> <%= booking.status %></p>
                <p><strong>TO: </strong><%= booking.user.email %>&nbsp;&nbsp;&nbsp;
                <% if booking.status == 'pending' %>
                  <%= link_to "accept",
                    accept_bookings_path(booking),
                    data: {turbo_method: :patch, turbo_confirm: "Are you sure?"}
                  %>&nbsp;
                  <%= link_to "decline",
                      decline_bookings_path(booking),
                      data: {turbo_method: :patch, turbo_confirm: "Are you sure?"}
                  %>
                <% end %>
                </p>
              </div>
            </div>
          </div>
        <% end %>

    </div>

</div>
