<a class="btn btn-primary mt-4 mx-2" href="#"> Découvrir nos véhicules</a>

<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1> CarConnect </h1>
    </div>
  </div>
  <div class="">
    <div>
      <h3> Faites vous plaisir </h3>
      <h3> Louez un véhicule pas comme les autres </h3>
      <ul>
        <li>Mettre en location son vehicule</li>
        <li>Louer un vehicule</li>
        <li>Choisissez votre lieu de location</li>
        <li>1 jour, une semaine, un mois ?</li>
        <li>Adapté à tous les budgets ! </li>
      <div class="d-flex align-items-end flex-column mb-3 px-3">
        <%#= image_tag "bof_two.jpg" %>
        <%= image_tag "bof_two.jpeg", width: 300 %>
        <%= image_tag "bof_one.jpg", width: 300 %>
      </div>
    </div>
      </ul>
    </div>
    <div>
  </div>

</div>



<div class="border">Dashboard
  <br>
  <%= link_to "Dashboard", dashboard_path %>
</div>
<br>
<br>
<div class="border">Liens vers Controller Vehicules
  <br>
  <%= link_to "index vehicules", vehicules_path %>
  <br>
  <%= link_to "show vehicule", vehicule_path(1) %>
</div>


<div class="border">Liens vers Controller booking
  <br>
  <%= link_to "index booking", vehicule_bookings_path(1) %>
  <br>
  <%= link_to "show booking", vehicule_booking_path(1, 1) %>
</div>

<h3> Good luck pour mardi la Team WhatsNew 😀⛳️</h3>
